[Desktop Entry]
Name=Gitpulsar
Comment=Git repository manager
Exec=gitpulsar-gtk %U
Icon=io.gitlab.ilshat_apps.Gitpulsar
Terminal=false
Type=Application
Categories=Development;RevisionControl;GTK;GNOME;
Keywords=git;repository;vcs;version-control;
MimeType=inode/directory;
