[Desktop Entry]
Name=Gitpanel
Comment=Browse and manage Git repositories
Exec=gitpanel %U
Icon=io.github.liangzhaoyuan12.gitpanel
Terminal=false
Type=Application
Categories=Development;RevisionControl;
Keywords=git;repository;vcs;version-control;GTK;GNOME;branch;commit;staging;
MimeType=inode/directory;
